body{
    /*    background-color: #D8D8D8;*/
    padding-top:  5.2em;
}

main {
    min-height: 1000px;
}

td {
    cursor: pointer;
}
.badge{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px 10px;
    border-radius: 45%;
    background: red;
    color: white;
}
.elementCritere{

    border-bottom: solid;
    border-bottom-color: #384FA1;

}
.bluepill{
    color:#e2003c;
}
.inputfile {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #E1474D;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
    margin-left: 5px;
    margin-top: 2px;
}

.inputfile:focus,
.inputfile:hover {
    background-color: red;
}

.my-btn-outline-primary{
    color:white !important;
    border-color: white;
    background-color: #e4043c!important;
}

.my-btn-outline-secondary{
    color:#384FA1 !important;
    border-color: #384FA1;
    background-color: white!important;
}
.my-btn-outline-primary:hover, .my-btn-outline-secondary:hover{
    font-weight: bold;
}

h1{
    font-size: x-large !important;
}
h2{
    font-size: large !important;}
.titreProfil{
    text-align: center;

}

.red, .titreProfil{
    color: #e2003c;
}
.blue, .titreProfil2{
    color: #384FA1;
}

.titreProfil2{
    text-align: center;

}
.inscriptionTitre{
    font-size: 2em !important;
}


#formConnection{
    margin-left:auto;
}

.form-control:focus{
    border-color: #384FA1 !important;
    box-shadow: inset 0 1px 1px #384FA1, 0 0 8px #384FA1;
}
#liste{
    overflow:auto;
}
.card-title{
    text-align: center;
}

select{
    width:60%;
}

.textePresentation{
    text-align: center;
}
.inscription{
    width: 28rem;
    margin-left: auto;
    margin-right:auto;
}

body{
    font-size:medium;
}
.content{
    margin-right: 15%;
}

.conteneurCompetences{
    width:100%;
    height: 5em;
    overflow: scroll;
    background-color: blue;
    line-height:5em !important;
}

input.checkbox{
    margin-left:auto !important;
}
fieldset
{
    background-color:white;
}
legend
{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left:16px;
}
#carteinscription{
    text-align: center !important;
    border: solid;
    border-color: #e2003c ;
}
#carteinscription h1{
    color: #e2003c ;
}
#logo{
    height: 2.5em;
}
.navbar-brand{
    margin-right: 3%!important;
}
.navbar{
    background-color:#F2F2F2;
    font-size: 1.1em;
    border-style: none;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.30);
}

.card{
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.30);
}
#navbar-collapse-main{
    background-color:#F8F9FA !important;

}
.navbar-brand{
    max-height: 2.5em;
    margin: 0.1em;
}
.navbar-default .navbar-nav li a {
    color: white;
    transition: 0.5s;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.actif{
    color: #e3003b;
    font-size: 1.5em;
}

.wrapper {
    display: block;
}

#sidebar {
    width: 400px;
    position: fixed;
    top: 0;
    right: -400px;
    height: 100vh;
    z-index: 9999;
    background: whitesmoke;
    color: #e4043c;
    transition: all 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    right: 0;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out !important;

}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebar .sidebar-header, .sidebar-body, fieldset {
    padding: 20px;
    background: #6d7fcc;
    background-color: inherit;
}

#sidebar .sidebar-header{
    border-bottom: 1px solid #d1d1d1;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active a {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
@media screen and (max-width: 900px) {
    .navbar{
        font-size: 18px;
    }
    #logo{
        max-height: 2em;
    }
}

a:hover, i:hover{
    color: #e4043c!important;
    transition: 0.2s;
}

/*Hamburger button*/
.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon2 span {
    background: #e4043c;
}

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.not_required{
    border-color: #ced4da !important;
    background-image: none !important;
}
