<%--
Document   : page-compagnie
Created on : 2018-12-06, 10:48:57
Author     : Dave
--%>

<!DOCTYPE html>
<%@page contentType="text/html" pageEncoding="UTF-8"%>


<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/fmt" prefix="fmt"%>

<jsp:useBean id="connexion" class="jdbc.Connexion"></jsp:useBean>
<jsp:useBean id="daoCompagnie" scope="page" class="com.stageo.model.CompagnieDAO">
    <jsp:setProperty name="daoCompagnie" property="cnx" value="${connexion.connection}"></jsp:setProperty>
</jsp:useBean>
<jsp:useBean id="dao" class="com.stageo.model.UtilisateurDAO">
    <jsp:setProperty name="dao" property="cnx" value="${connexion.connection}"></jsp:setProperty>
</jsp:useBean>

<jsp:useBean id="daoCritere" scope="page" class="com.stageo.model.CritereDAO">
    <jsp:setProperty name="daoCritere" property="cnx" value="${connexion.connection}"></jsp:setProperty>
</jsp:useBean>
<jsp:useBean id="daoOffreStage" scope="page" class="com.stageo.model.StageDAO">
    <jsp:setProperty name="daoOffreStage" property="cnx" value="${connexion.connection}"></jsp:setProperty>
</jsp:useBean>
<c:if test="${!empty param.id}">
    <c:set var="offreCourante" value="${daoOffreStage.read(param.id)}"/>
</c:if>
<c:set var="listeCriteres" value="${daoCritere.findAll()}"/>
<c:set var="listeOffres" value="${daoOffreStage.findByIdEmployeur(sessionScope.connecte)}"/>

<div class="container" >
    <div class="row">
        <div class="col-lg-8">
            <div class="col-lg-3">
                <button type="button" onclick="ResetForm()" class="btn btn-block btn-primary">Réinitialiser</button>
            </div>
            <!-- FORMULAIRE D'AJOUT D'UN STAGE !!! FORMULAIRE D'AJOUT D'UN STAGE !!! FORMULAIRE D'AJOUT D'UN STAGE !!! -->
            <form id="offrestage" class="form-horizontal" action="*.do?tache=ajouterOffreDeStage" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-lg-7 ">
                        <fieldset>
                            <legend><h4>Offre de stage</h4></legend>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Titre :</label>
                                </div>
                                <input type="text"  name="titre" class="form-control" id="titre" value="${offreCourante.titre}"  placeholder="Titre" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Description :</label>
                                </div>
                                <input type="text"  name="desc" class="form-control" id="desc" value="${offreCourante.description}" placeholder="Description" required>
                            </div>
                            <div class="form-row">
                                <div class="input-group mb-3 col-sm-6">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">Début :</label>
                                    </div>
                                    <fmt:formatDate var="dateDebut" value="${offreCourante.dateDebut}" pattern="yyyy-MM-dd" />
                                    <input type="date"  name="date_debut" class="form-control" id="date_debut" value="${dateDebut}"  placeholder="Date de début" required>
                                </div>
                                <div class="input-group mb-3 col-sm-6">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">Fin :</label>
                                    </div>
                                    <fmt:formatDate var="dateFin" value="${offreCourante.dateFin}" pattern="yyyy-MM-dd" />
                                    <input type="date"  name="date_fin" class="form-control" id="date_fin" value="${dateFin}" placeholder="Date de fin" required>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Rémunération :</label>
                                </div>
                                <input type="text"  name="remuneration" class="form-control" id="remuneration" value="${offreCourante.remunere}" placeholder="Rémunération" required>

                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Lien web :</label>
                                </div>
                                <input type="text"  name="lienWeb" value="${offreCourante.lienWeb}" class="form-control" id="lienWeb"  placeholder="Lien web" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Lien Document :</label>
                                </div>
                                <input type="text"  name="document" value="${offreCourante.lienDocument}" class="form-control" id="document"  placeholder="Document" required>
                            </div>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control" disabled>
                                <div class="input-group-append ">
                                    <label  class="input-group-text btn btn-primary ml-auto ">
                                        <span class="">
                                            Fichier :
                                            <input type="file" class="form-control-file" value="${offreCourante.fichier}" accept=".pdf" style="display: none;" id="fichier" name="fichier" required>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <!-- FIN FORMULAIRE D'AJOUT D'UN STAGE !!!  FIN FORMULAIRE D'AJOUT D'UN STAGE !!!  FIN FORMULAIRE D'AJOUT D'UN STAGE !!! -->
                    </div>

                    <div class="form-group col-lg-5 ">
                        <div class="form-group">
                            <table  id="competence" class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Critère <a href="#" class="fa fa-arrows-alt-v"></a></th>
                                    <th scope="col">Maitrîse <a href="#" class="fa fa-arrows-alt-v"></a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <c:forEach items="${listeCriteres}" var="critere">
                                    <tr>
                                        <td name="critereNom">${critere.nom}
                                        </td>
                                        <td>
                                            <input name="${critere.idCritere}" class="checkbox form-control mr-auto" type="checkbox" id="${critere.idCritere}">
                                        </td>
                                    </tr>
                                </c:forEach>

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <input type="hidden" name="tache" value="ajouterOffreDeStage">
                    <button type="submit" class="btn btn-block btn-primary">Ajouter /modifier un stage</button>
                    </fieldset>


                </div>
            </form>
        </div>

        <!-- Partie de droite LES COMPÉTENCES -->


        <div class="row">
            <table id="stage" class="table table-hover">

                <thead>
                <tr>
                    <td>Titre <a href="#" class="fa fa-arrows-alt-v"></a></td>
                    <td>Description <a href="#" class="fa fa-arrows-alt-v"></a></td>
                    <td>Lien Web<a href="#" class="fa fa-arrows-alt-v"></a></td>
                    <td>Lien Document<a href="#" class="fa fa-arrows-alt-v"></a></td>
                    <td>Nombre de vue<a href="#" class="fa fa-arrows-alt-v"></a></td>
                </tr>
                </thead>

                <tbody>
                <c:forEach items="${listeOffres}" var="offres">

                    <tr>
                    <td>${offres.titre}</td>
                    <td>${offres.description}</td>
                    <td>${offres.lienWeb}</td>
                    <td hidden>${offres.dateDebut}</td>
                    <td hidden>${offres.dateFin}</td>
                    <td>${offres.lienDocument}</td>
                    <td>${offres.nbVues}</td>
                    </tr>

                </c:forEach>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function ResetForm() {
        $(':input','#offrestage')
            .not(':button, :submit, :reset, :hidden')
            .val('')
            .removeAttr('checked')
            .removeAttr('selected');
    }

    <a href="*.do?tache=afficherPageListeCompagnie&id=${offres.idOffre}">




</script>

